@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  @apply max-w-screen-xl mx-auto p-4;
}

/* code[class*="language"] {
  color: rgb(255, 65, 65);
} */

.table {
  display: inherit;
  @apply relative overflow-x-auto;
  table {
    @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;
    thead {
      @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
      th {
        @apply px-6 py-3;
      }
    }
    tbody {
      tr {
        @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
      }
      td {
        @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white;
      }
    }
  }
}

code {
  line-height: 1.8 !important;
  strong {
    border-radius: 4px;
    background-color: gray;
    padding: 2px 6px;
  }
  &:before, &:after {
    content: none !important;
  }
  .linenumber {
    padding-right: 1.5em !important;
  }
}
